.container {
  width: 550px;
  min-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #23252c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.card-contianer {
  display: flex;
  flex-direction: column;
}

.img-container {
  /* position: absolute; */
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;
}

.card-img {
  width: 100%;
}

.info-container {
  width: 317px;
  background-color: #1a1b21;
  height: 380px;
}

.card-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 20px;
}

.card-job {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #f3bf99;
  margin: 0 0 8px 0;
}

.card-site {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  margin: 0 0 15px 0;
}

.card-site a {
  text-decoration: none;
  color: #f5f5f5;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
}

#email-btn {
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 115px;
  height: 34px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#linkedin-btn {
  background: #5093e2;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 115px;
  height: 34px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-section {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  width: 235.71px;
  margin: 0 auto;
}

.info-detail {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  width: 235.71px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer-div {
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  height: 64px;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.footer-div i {
  font-size: 25px;
  color: #918e9b;
}
